* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 12px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin: 8px;
  vertical-align: middle;
}

.column iframe {
  margin: 8px;
  vertical-align: middle;
}

.tech-used {
	align-items: right;
  justify-content: right;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
	margin: 5px 0; 
	width:82px; 
	height:86px;
}

.navigation-bar {
	background-color: #4aaaa5;
	float: left;
}

.contact {
	display: flex;
}

.profile {
	display: flex;
}

.projects {
	display: flex;
}

.resume {
	display: flex;
}

.titles {
	font-family: Copperplate;
}

.locations {
	font-family: Copperplate;
	font-weight: 700;
}

.details {
	font-family: Copperplate;
}

.nest-list {
	width: 6em;
}

ul {
  float: left;
}

ul > li {
  width: 6em;
}

ul > dd {
  width: 6em;
}

h4 {
	font-family: Copperplate;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

